In [1]:
# Import the dependencies.
import pandas as pd
import requests
!pip install gmaps
import gmaps
# Import the API key.
from config import g_key

Requirement already satisfied: gmaps in c:\users\ryanl\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: geojson>=2.0.0 in c:\users\ryanl\anaconda3\lib\site-packages (from gmaps) (2.5.0)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\ryanl\anaconda3\lib\site-packages (from gmaps) (7.6.3)
Requirement already satisfied: traitlets>=4.3.0 in c:\users\ryanl\anaconda3\lib\site-packages (from gmaps) (5.0.5)
Requirement already satisfied: ipython>=5.3.0 in c:\users\ryanl\anaconda3\lib\site-packages (from gmaps) (7.24.1)
Requirement already satisfied: six in c:\users\ryanl\anaconda3\lib\site-packages (from gmaps) (1.16.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\ryanl\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (3.0.19)
Requirement already satisfied: colorama in c:\users\ryanl\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.4.4)
Requirement already satisfied: setuptools>=18.5 in c:\users\ryanl\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (58.0.4)
Requirement already satisfied: pygments in c:\users\ryanl\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (2.9.0)
Requirement already satisfied: matplotlib-inline in c:\users\ryanl\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.1.2)
Requirement already satisfied: pickleshare in c:\users\ryanl\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: backcall in c:\users\ryanl\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: decorator in c:\users\ryanl\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (5.0.9)
Requirement already satisfied: jedi>=0.16 in c:\users\ryanl\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.18.0)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\ryanl\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.5.5)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\ryanl\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in c:\users\ryanl\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (1.0.0)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\ryanl\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.1.3)
Requirement already satisfied: jupyter-client in c:\users\ryanl\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.12)
Requirement already satisfied: tornado>=4.2 in c:\users\ryanl\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\ryanl\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.3.0->gmaps) (0.8.2)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\ryanl\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: jupyter-core in c:\users\ryanl\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.7.1)
Requirement already satisfied: ipython-genutils in c:\users\ryanl\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\ryanl\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.17.3)
Requirement already satisfied: attrs>=17.4.0 in c:\users\ryanl\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (21.2.0)
Requirement already satisfied: wcwidth in c:\users\ryanl\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in c:\users\ryanl\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.4.0)
Requirement already satisfied: argon2-cffi in c:\users\ryanl\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.1.0)
Requirement already satisfied: nbconvert in c:\users\ryanl\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.7)
Requirement already satisfied: pyzmq>=17 in c:\users\ryanl\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (22.1.0)
Requirement already satisfied: jinja2 in c:\users\ryanl\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.0.1)
Requirement already satisfied: prometheus-client in c:\users\ryanl\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.11.0)
Requirement already satisfied: Send2Trash>=1.5.0 in c:\users\ryanl\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: terminado>=0.8.3 in c:\users\ryanl\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.10.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\ryanl\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: pywin32>=1.0 in c:\users\ryanl\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (228)
Requirement already satisfied: pywinpty>=1.1.0 in c:\users\ryanl\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.0.5)
Requirement already satisfied: cffi>=1.0.0 in c:\users\ryanl\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.14.5)
Requirement already satisfied: pycparser in c:\users\ryanl\anaconda3\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.20)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\ryanl\anaconda3\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.0.1)
Requirement already satisfied: testpath in c:\users\ryanl\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.0)
Requirement already satisfied: jupyterlab-pygments in c:\users\ryanl\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.1.2)
Requirement already satisfied: bleach in c:\users\ryanl\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.3.0)
Requirement already satisfied: defusedxml in c:\users\ryanl\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.7.1)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\ryanl\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.3)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\ryanl\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\ryanl\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.3)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\ryanl\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: async-generator in c:\users\ryanl\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.10)
Requirement already satisfied: nest-asyncio in c:\users\ryanl\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.1)
Requirement already satisfied: packaging in c:\users\ryanl\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.9)
Requirement already satisfied: webencodings in c:\users\ryanl\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\ryanl\anaconda3\lib\site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.4.7)

WARNING: Ignoring invalid distribution -ffi (c:\users\ryanl\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\ryanl\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\ryanl\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\ryanl\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\ryanl\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\ryanl\anaconda3\lib\site-packages)

In [2]:
gmaps.configure(g_key)

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ribeira Grande,PT,2022-04-13 19:26:13,38.5167,-28.7000,63.00,72,20,24.16
1,1,Ocos,GT,2022-04-13 19:26:13,14.5094,-92.1933,91.58,60,9,12.82
2,2,Punta Arenas,CL,2022-04-13 19:22:25,-53.1500,-70.9167,57.31,62,40,23.02
3,3,Belyy Yar,RU,2022-04-13 19:26:14,53.6039,91.3903,25.86,64,0,2.24
4,4,Natchez,US,2022-04-13 19:25:25,31.5604,-91.4032,82.62,74,75,24.16

In [4]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
heatmap_df = city_data_df.loc[city_data_df["Max Temp"]>= 0]

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = heatmap_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = heatmap_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [9]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = heatmap_df.loc[(heatmap_df["Max Temp"] <= max_temp) & \
                                       (heatmap_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Natchez,US,2022-04-13 19:25:25,31.5604,-91.4032,82.62,74,75,24.16
6,6,Kapaa,US,2022-04-13 19:25:24,22.0752,-159.3190,78.78,84,75,11.50
9,9,Atar,MR,2022-04-13 19:26:15,20.5169,-13.0499,88.41,9,0,13.00
10,10,Vaini,TO,2022-04-13 19:26:15,-21.2000,-175.2000,77.16,94,40,5.75
12,12,Buala,SB,2022-04-13 19:26:16,-8.1450,159.5921,79.65,78,15,6.53
13,13,Kutum,SD,2022-04-13 19:26:16,14.2000,24.6667,78.73,12,0,8.32
15,15,Hilo,US,2022-04-13 19:26:17,19.7297,-155.0900,80.28,78,100,4.61
18,18,Souillac,MU,2022-04-13 19:26:18,-20.5167,57.5167,77.38,88,40,16.11
21,21,Rikitea,PF,2022-04-13 19:26:19,-23.1203,-134.9692,78.75,68,14,16.75
26,26,Karratha,AU,2022-04-13 19:26:20,-20.7377,116.8463,79.86,46,5,6.22

In [25]:
preferred_cities_df.count()

City_ID       169
City          169
Country       169
Date          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
dtype: int64

In [46]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

        City Country  Max Temp      Lat       Lng Hotel Name
4    Natchez      US     82.62  31.5604  -91.4032
6      Kapaa      US     78.78  22.0752 -159.3190
9       Atar      MR     88.41  20.5169  -13.0499
10     Vaini      TO     77.16 -21.2000 -175.2000
12     Buala      SB     79.65  -8.1450  159.5921
13     Kutum      SD     78.73  14.2000   24.6667
15      Hilo      US     80.28  19.7297 -155.0900
18  Souillac      MU     77.38 -20.5167   57.5167
21   Rikitea      PF     78.75 -23.1203 -134.9692
26  Karratha      AU     79.86 -20.7377  116.8463

In [50]:
hotels = []

for i in range(len(hotel_df)):
    lat=hotel_df.iloc[i]['Lat']
    lng=hotel_df.iloc[i]['Lng']
    
    params = {
        "location":f'{lat},{lng}',
        "radius":5000,
        "types":"hotel",
        "key":g_key
    }
    
    url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response =  requests.get(url,params=params).json()
    
    try:
        hotels.append(response['results'][0]['name'])
    except:
        hotels.append("")
hotel_df["Hotel Name"]=hotels
hotel_df

            City Country  Max Temp      Lat       Lng   Hotel Name
4        Natchez      US     82.62  31.5604  -91.4032      Natchez
6          Kapaa      US     78.78  22.0752 -159.3190       Kapaʻa
9           Atar      MR     88.41  20.5169  -13.0499         Atar
10         Vaini      TO     77.16 -21.2000 -175.2000   Nukuhetulu
12         Buala      SB     79.65  -8.1450  159.5921        Buala
..           ...     ...       ...      ...       ...          ...
535  Polonnaruwa      LK     75.34   7.9333   81.0000  Polonnaruwa
539     Buchanan      LR     80.02   5.8808  -10.0467     Buchanan
544         Poum      NC     76.24 -20.2333  164.0167         Poum
553        Avera      US     80.11  33.1940  -82.5271        Avera
555      Oistins      BB     84.29  13.0667  -59.5333   Bridgetown

[169 rows x 6 columns]

In [48]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [34]:
lodging = hotels["results"][0]["name"]
lodging

'ibis Styles Karratha'

In [49]:
# # Iterate through the DataFrame.
# # Set parameters to search for a hotel.
# params = {
#     "radius": 5000,
#     "type": "lodging",
#     "key": g_key
# }
# for row in hotel_df.iterrows():
#     # Get the latitude and longitude.
#     lat = row["Lat"]
#     lng = row["Lng"]
#     #lat = -20.7377
#     #lng = 116.8463
#     # Add the latitude and longitude to location key for the params dictionary.
#     params["location"] = f"{lat},{lng}"

#     # Use the search term: "lodging" and our latitude and longitude.
#     base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#     # Make request and get the JSON data from the search.
#     hotels = requests.get(base_url, params=params).json()
#     # Grab the first hotel from the results and store the name.
#     #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
#     try:
#         hotel_df.loc["Hotel Name"] = hotels["results"][0]["name"]
#     except Exception as e: print(e)
#     #(IndexError):
#         #print("Hotel not found... skipping.")

TypeError: tuple indices must be integers or slices, not str

In [51]:
hotel_df

            City Country  Max Temp      Lat       Lng   Hotel Name
4        Natchez      US     82.62  31.5604  -91.4032      Natchez
6          Kapaa      US     78.78  22.0752 -159.3190       Kapaʻa
9           Atar      MR     88.41  20.5169  -13.0499         Atar
10         Vaini      TO     77.16 -21.2000 -175.2000   Nukuhetulu
12         Buala      SB     79.65  -8.1450  159.5921        Buala
..           ...     ...       ...      ...       ...          ...
535  Polonnaruwa      LK     75.34   7.9333   81.0000  Polonnaruwa
539     Buchanan      LR     80.02   5.8808  -10.0467     Buchanan
544         Poum      NC     76.24 -20.2333  164.0167         Poum
553        Avera      US     80.11  33.1940  -82.5271        Avera
555      Oistins      BB     84.29  13.0667  -59.5333   Bridgetown

[169 rows x 6 columns]

In [52]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [55]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [56]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [57]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))